
<ul class="list-unstyled box-grid-container">
    @foreach (var product in products)
    {
        <li class="box-item">

            <div class="box-image">
                <a href="/product/@product.ProductID">
                    <img class="media-img" src="@product.ProductImage" alt="@product.ProductName" />
                </a>
            </div>

            <div class="media-body">
                <a href="/product/@product.ProductID" class="hover-no-underline">
                    <h4 class=" tee-title">
                        @product.ProductName
                    </h4>
                </a>

                <h6 class="sm-10-font">
                    @product.CodeName
                </h6>

                <h6 class="sm-10-fancy-font">
                    @product.ProductDesigner
                </h6>

                <p class="sm-10-italic-font">

                    @product.ProductDescription . . .

                </p>

                @if (product.PromotionPrice == 0 || product.PromotionPrice == product.ProductPrice)
                {
                    // Regular Pricing
                    <h6 class="text-muted price">
                        Exclusive
                    </h6>

                    <h5 class="price">
                        $ @product.ProductPrice
                    </h5>

                    <h6 class="text-muted price">
                        &nbsp;
                    </h6>
                }
                else
                {
                    // Promotional Pricing
                    <h6 class="text-muted strike-price">
                        $ @product.ProductPrice
                    </h6>

                    <h5 class="price">
                        $ @product.PromotionPrice &nbsp; <span class="text-discount">@product.PromotionDescription</span>
                    </h5>
                }
            </div>

        </li>

    }
</ul>


@code
{
    // Product All Shared
    static string productDesigner = "designed by culture-A-wear";
    static string promoDescription = "Labor Day Sale";
    //static string   noPromoDesc = "NONE";
    static decimal base_RegPrice = 24.99m;
    static string base_Color = "BLACK";

    //==========================================================

    // Product 01
    static int tech01_ProductID = 1;
    static int tech01_CategoryID = 1;
    static string tech01_ImageURL = "img/07_AF.png";
    static string tech01_ProductName = "Lucky AF";
    static string tech01_CodeName = "Codename: Techwear 07-AF";
    static string tech01_ProductColor = base_Color;
    static decimal tech01_RegPrice = 39.99m;
    static decimal tech01_PromoRate = 0m;
    static decimal tech01_PromoPrice = decimal.Round(tech01_RegPrice - (tech01_RegPrice * tech01_PromoRate), 2, MidpointRounding.AwayFromZero);
    static decimal tech01_PromoPercentage = decimal.Round(tech01_PromoRate * 100, 0, MidpointRounding.AwayFromZero);
    static string tech01_PromoDescription = $"{tech01_PromoPercentage}% Off {promoDescription}!";

    static string tech01_Desc =
        "Design inspired by the abbreviated, stylized word for Technical Wear, " +
        "mixed in with the stylized number, which is believed to be lucky in most parts of the world, " +
        "and the abbreviated version of the current meme trend that means something is 'Next Level', " +
        "could be interpreted as being " +
        "futuristic gothic fashion with trench coats, boots, and black clothing. " +
        "The alt style pays homage to the gritty urban dystopian future found in " +
        "science fiction and anime films like Johnny Mnemonic, The Matrix, Blade Runner, " +
        "Aeon Flux, Akira, and Ghost in the Shell. It became a full-fledged fashion genre " +
        "in the late 1980s and " +
        "continues to increase in popularity as the reality we are living in inches closer " +
        "to the dystopia in films. \n\n \n" +

        "+ Designed and Printed in the U.S.A. \n" +
        "+ Blacked-Out | Ribbed Collar | High-Quality Tee \n" +
        "+ Material: 100% Ringspun Cotton";

    static string[] tech01_ProductIntro = tech01_Desc.Split(' ');
    static string tech01_shortIntro = shortensIntro(tech01_ProductIntro);

    //==========================================================

    // Product 02
    static int tech02_ProductID = 2;
    static int tech02_CategoryID = 1;
    static string tech02_ImageURL = "img/00_DANG_37.png";
    static string tech02_ProductName = "Danger Agent";
    static string tech02_CodeName = "Codename: Techwear 00-DANG-37";
    static string tech02_ProductColor = base_Color;
    static decimal tech02_RegPrice = base_RegPrice;
    static decimal tech02_PromoRate = 0.20m;
    static decimal tech02_PromoPrice = decimal.Round(tech02_RegPrice - (tech02_RegPrice * tech02_PromoRate), 2, MidpointRounding.AwayFromZero);
    static decimal tech02_PromoPercentage = decimal.Round(tech02_PromoRate * 100, 0, MidpointRounding.AwayFromZero);
    static string tech02_PromoDescription = $"{tech02_PromoPercentage}% Off {promoDescription}!";

    static string tech02_Desc =
        "Design inspired by the abbreviated, stylized word for Technical Wear, " +
        "merged with the distinctive pop culture spy-movie genre known for explosive and often dangerous action sequences. " +
        "Techwear represents tactical, futuristic fashion that can be easily identified " +
        "by trench coats, boots, and black clothing that pervades deep into Pop Culture. " +
        "The alt style pays homage to the gritty urban dystopian future found in " +
        "science fiction and anime films like Johnny Mnemonic, The Matrix, Blade Runner, " +
        "Aeon Flux, Akira, and Ghost in the Shell. It became a full-fledged fashion genre " +
        "in the late 1980s and " +
        "continues to increase in popularity as the reality we are living in inches closer " +
        "to the dystopia in films. \n\n \n" +

        "+ Designed and Printed in the U.S.A. \n" +
        "+ Blacked-Out | Ribbed Collar | High-Quality Tee \n" +
        "+ Material: 100% Ringspun Cotton";

    static string[] tech02_ProductIntro = tech02_Desc.Split(' ');
    static string tech02_shortIntro = shortensIntro(tech02_ProductIntro);

    //==========================================================

    // Product 03
    static int tech03_ProductID = 3;
    static int tech03_CategoryID = 1;
    static string tech03_ImageURL = "img/TOX_105_AF.png";
    static string tech03_ProductName = "Toxic AF";
    static string tech03_CodeName = "Codename: Techwear TOX_105_AF";
    static string tech03_ProductColor = base_Color;
    static decimal tech03_RegPrice = 29.99m;
    static decimal tech03_PromoRate = 0.17m;
    static decimal tech03_PromoPrice = decimal.Round(tech03_RegPrice - (tech03_RegPrice * tech03_PromoRate), 2, MidpointRounding.AwayFromZero);
    static decimal tech03_PromoPercentage = decimal.Round(tech03_PromoRate * 100, 0, MidpointRounding.AwayFromZero);
    static string tech03_PromoDescription = $"{tech03_PromoPercentage}% Off {promoDescription}!";

    static string tech03_Desc =
        "Design inspired by the abbreviated, stylized word for Technical Wear " +
        "melded with a 'Toxic' character and the way to 'Level Up' in today's favorite pop culture game. " +
        "Techwear represents tactical, futuristic fashion that can be easily identified " +
        "by trench coats, boots, and black clothing that pervades deep into Pop Culture. " +
        "The alt style pays homage to the gritty urban dystopian future found in " +
        "science fiction and anime films like Johnny Mnemonic, The Matrix, Blade Runner, " +
        "Aeon Flux, Akira, and Ghost in the Shell. It became a full-fledged fashion genre " +
        "in the late 1980s and " +
        "continues to increase in popularity as the reality we are living in inches closer " +
        "to the dystopia in films. \n\n \n" +

        "+ Designed and Printed in the U.S.A. \n" +
        "+ Blacked-Out | Ribbed Collar | High-Quality Tee \n" +
        "+ Material: 100% Ringspun Cotton";

    static string[] tech03_ProductIntro = tech03_Desc.Split(' ');
    static string tech03_shortIntro = shortensIntro(tech03_ProductIntro);

    //==========================================================

    // Product 04
    static int tech04_ProductID = 4;
    static int tech04_CategoryID = 1;
    static string tech04_ImageURL = "img/FI-82-RE.png";
    static string tech04_ProductName = "Fire In Progress";
    static string tech04_CodeName = "Codename: Techwear FI-82-RE";
    static string tech04_ProductColor = base_Color;
    static decimal tech04_RegPrice = 39.99m;
    static decimal tech04_PromoRate = 0m;
    static decimal tech04_PromoPrice = decimal.Round(tech04_RegPrice - (tech04_RegPrice * tech04_PromoRate), 2, MidpointRounding.AwayFromZero);
    static decimal tech04_PromoPercentage = decimal.Round(tech04_PromoRate * 100, 0, MidpointRounding.AwayFromZero);
    static string tech04_PromoDescription = $"{tech04_PromoPercentage}% Off {promoDescription}!";

    static string tech04_Desc =
        "Design inspired by the abbreviated, stylized word for Technical Wear " +
        "combined with what Tactical Units often refer to as Ten-Dash (10-) Codes, " +
        "and the stylized word that is trending all over the internet meaning 'Totally Awesome' " +
        "Techwear represents tactical, futuristic fashion that can be easily identified " +
        "by trench coats, boots, and black clothing that pervades deep into Pop Culture. " +
        "The alt style pays homage to the gritty urban dystopian future found in " +
        "science fiction and anime films like Johnny Mnemonic, The Matrix, Blade Runner, " +
        "Aeon Flux, Akira, and Ghost in the Shell. It became a full-fledged fashion genre " +
        "in the late 1980s and " +
        "continues to increase in popularity as the reality we are living in inches closer " +
        "to the dystopia in films. \n\n \n" +

        "+ Designed and Printed in the U.S.A. \n" +
        "+ Blacked-Out | Ribbed Collar | High-Quality Tee \n" +
        "+ Material: 100% Ringspun Cotton";

    static string[] tech04_ProductIntro = tech04_Desc.Split(' ');
    static string tech04_shortIntro = shortensIntro(tech04_ProductIntro);

    //==========================================================

    public static string shortensIntro(string[] arrIntro)
    {
        string shortIntro = "";

        for (var i = 0; i < 26; i++)
        {
            shortIntro += arrIntro[i] + " ";
        }

        return shortIntro;
    }


    public static List<Product> products = new List<Product>
    {
        new Product
        {
            ProductID = tech01_ProductID,
            CategoryID = tech01_CategoryID,
            ProductImage = tech01_ImageURL,
            ProductName = tech01_ProductName,
            CodeName = tech01_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = tech01_shortIntro,
            ProductColor = tech01_ProductColor,
            ProductPrice = tech01_RegPrice,
            PromotionDescription = tech01_PromoDescription,
            PromotionPrice = tech01_PromoPrice
        },
        new Product
        {
            ProductID = tech02_ProductID,
            CategoryID = tech02_CategoryID,
            ProductImage = tech02_ImageURL,
            ProductName = tech02_ProductName,
            CodeName = tech02_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = tech02_shortIntro,
            ProductColor = tech02_ProductColor,
            ProductPrice = tech02_RegPrice,
            PromotionDescription = tech02_PromoDescription,
            PromotionPrice = tech02_PromoPrice
        },
        new Product
        {
            ProductID = tech03_ProductID,
            CategoryID = tech03_CategoryID,
            ProductImage = tech03_ImageURL,
            ProductName = tech03_ProductName,
            CodeName = tech03_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = tech03_shortIntro,
            ProductColor = tech03_ProductColor,
            ProductPrice = tech03_RegPrice,
            PromotionDescription = tech03_PromoDescription,
            PromotionPrice = tech03_PromoPrice
        },
        new Product
        {
            ProductID = tech04_ProductID,
            CategoryID = tech04_CategoryID,
            ProductImage = tech04_ImageURL,
            ProductName = tech04_ProductName,
            CodeName = tech04_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = tech04_shortIntro,
            ProductColor = tech04_ProductColor,
            ProductPrice = tech04_RegPrice,
            PromotionDescription = tech04_PromoDescription,
            PromotionPrice = tech04_PromoPrice
        },
        new Product
        {
            ProductID = 5,
            CategoryID = 1,
            ProductImage = "https://www.apemockups.com/wp-content/uploads/edd/2018/04/Free-Simple-T-Shirt-Mockup.jpg",
            ProductName = "Creature of the Black Lagoon",
            CodeName = tech01_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = "Creature from the Black Lagoon is a 1954 American black-and-white 3D monster horror" +
                                 " film from Universal-International, produced by William Alland, directed by" +
                                 " Jack Arnold, and starring Richard Carlson, Julie Adams, Richard Denning, Antonio" +
                                 " Moreno, Nestor Paiva, and Whit Bissell. The Creature was played by Ben Chapman on" +
                                 " land and by Ricou Browning underwater.",
            ProductColor = "BLACK",
            ProductPrice = 39.99m,
            PromotionDescription = "NONE",
            PromotionPrice = 0.00m
        },
        new Product
        {
            ProductID = 6,
            CategoryID = 3,
            ProductImage = "https://www.apemockups.com/wp-content/uploads/edd/2017/07/free-t-shirt-mockup-1000x683.jpg.webp",
            ProductName = "Tech Wear 01",
            CodeName = tech02_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = "It is the abbreviated, stylized word for technical wear. It's urban apparel that" +
                                 " uses high-quality fabrics, and technical detailing to create a product that can" +
                                 " stand up to the elements. The techwear aesthetic is heavily influenced by" +
                                 " futurist artistic styles such as cyberpunk (think Blade Runner or Ghost in the" +
                                 " Shell). In execution, most techwear falls into one of two categories: GREY" +
                                 " (sleek, understated, the amplified familiar) or BLACK" +
                                 " (striking, military-inspired, the future circa 1985).",
            ProductColor = "BLACK",
            ProductPrice = tech01_RegPrice,
            PromotionDescription = promoDescription,
            PromotionPrice = tech01_PromoPrice
        },
        new Product
        {
            ProductID = 7,
            CategoryID = 2,
            ProductImage = "img/07_AF.png",
            ProductName = "Creature of the Black Lagoon",
            CodeName = tech03_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = "Creature from the Black Lagoon is a 1954 American black-and-white 3D monster horror" +
                                 " film from Universal-International, produced by William Alland, directed by" +
                                 " Jack Arnold, and starring Richard Carlson, Julie Adams, Richard Denning, Antonio" +
                                 " Moreno, Nestor Paiva, and Whit Bissell. The Creature was played by Ben Chapman on" +
                                 " land and by Ricou Browning underwater.",
            ProductColor = "BLACK",
            ProductPrice = 39.99m,
            PromotionDescription = "NONE",
            PromotionPrice = 0.00m
        },
        new Product
        {
            ProductID = 8,
            CategoryID = 3,
            ProductImage = "img/FI-82-RE.png",
            ProductName = "Tech Wear 01",
            CodeName = tech04_CodeName,
            ProductDesigner = productDesigner,
            ProductDescription = "Design inspired by Mary Shelley's 1818 novel that tells a story of Dr. " +
                                "Frankenstein. Since the publication of the novel, the name Frankenstein " +
                                "has been wrongly used to refer to the monster, rather than his creator. Further " +
                                "inspired by the 1931 American science fiction horror film directed by James Whale, " +
                                "starring Colin Clive as Henry Frankenstein, an obsessed scientist who digs up " +
                                "corpses with his assistant in order to assemble a living being from body parts " +
                                "to create a sapient monster often known as Frankenstein's monster, played by " +
                                "Boris Karloff, despite its grotesque form, seems to be " +
                                "an innocent, childlike creation." +
                                "It is the abbreviated, stylized word for technical wear. It's urban apparel that" +
                                 " uses high-quality fabrics, and technical detailing to create a product that can" +
                                 " stand up to the elements. The techwear aesthetic is heavily influenced by" +
                                 " futurist artistic styles such as cyberpunk (think Blade Runner or Ghost in the" +
                                 " Shell). In execution, most techwear falls into one of two categories: GREY" +
                                 " (sleek, understated, the amplified familiar) or BLACK" +
                                 " (striking, military-inspired, the future circa 1985).",
            ProductColor = "BLACK",
            ProductPrice = tech01_RegPrice,
            PromotionDescription = promoDescription,
            PromotionPrice = tech01_PromoPrice
        }

    };
}